@font-face {
  font-family: "Sora-Regular";
  src: url("../fonts/Sora-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sora-Bold";
  src: url("../fonts/Sora-SemiBold.ttf") format("ttf");
  font-weight: bold;
}
